@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@450;900&display=swap');
@import "tailwindcss";


* {
  font-family: "Outfit", sans-serif;
}

@layer base {
  button {
    @apply cursor-pointer;
  }
  input:not([type="checkbox"]) {
    @apply outline-none focus:ring border-gray-300 focus:ring-green-500 focus:border-green-500 rounded-lg;;
  }
  textarea {
    @apply outline-none focus:ring border-gray-300 focus:ring-green-500 focus:border-green-500 rounded-lg;    
  }
}

@keyframes marqueeScroll {
                0% { transform: translateX(0%); }
                100% { transform: translateX(-50%); }
            }

            .marquee-inner {
                animation: marqueeScroll 25s linear infinite;
            }

            .marquee-reverse {
                animation-direction: reverse;
            }

